:root {
    --bg: #1c1e26;
    --fg: #b2b2c2;
    --black: #2e303e;
    --red: #e95678;
    --ry-one: #ef7682;
    --ry-two: #f4978b;
    --yellow: #fab795;
    --green: #29d398;
    --blue: #26bbd9;
    --magenta: #ee64ae;
    --magenta-alt: #ca93ba;
    --cyan: #59e3e3;
    --white: #fdf0ed;
}

body {
    font-size: 1rem;
    line-height: 1.75rem;
    word-wrap: break-word;
    margin: 5% auto;
    max-width: 70%;
    background-color: var(--bg);
    color: var(--fg);
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
}

code {
    font-family: "Fira Code", monospace;
}

.post-link {
    font-family: "Fira Code", monospace;
}

.date {
    color: var(--white);
}

.taglist {
    display: flex;
    gap: 0.5vw;
}

a {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    text-decoration: none;
}

a:link {
    color: var(--magenta);
}

a:visited {
    color: var(--magenta-alt);
}

a:hover {
    color: var(--white);
    background-color: var(--red);
}

h1 {
    color: var(--red);
    font-weight: 900;
    margin-bottom: 3%;
    margin-top: 3%;
    font-family: "fira-code", monospace;
}

h2 {
    color: var(--ry-one);
    font-weight: 800;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    font-family: "fira-code", monospace;
}

h3 {
    color: var(--ry-two);
    font-weight: 700;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
    font-family: "fira-code", monospace;
}

pre {
    border-radius: 1%;
    padding: 1% 1%;
    overflow: scroll;
}

ul {
    list-style-type: "- ";
}

nav {
    margin-bottom: 5%;
    font-weight: 600;
}
